@use "variables" as *;
@use "mixins" as *;
@use 'typography' as *;

footer {
    background-color: #009DDC;
    padding-top: 1.3rem;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-evenly;
}

#footer-logo {
    margin-bottom: 1rem;
    width: 100px;
}

.url-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;

    li {
        margin: 0 10px;
        list-style: none;
        a {
            color: white;
        }
    }
}

.url-menu ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  footer p {
        font-weight: medium;
        text-transform: uppercase;
        color: white;
    }
