@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;

$lightBlue: #bddbee;
$midBlue: #009ddc;
$darkBlue: #154a66;

$light: #ffffff;
$gray1: #bababa;
$gray2: #737373;
$gray3: #616161;
$gray4: #424242;
$dark: #1f1f1f;

$navOpacity: 80%;

@mixin font-style($weight) {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #154a66;
}

.header-desktop {
    display: none;
}

.navigation {
    background-color: $dark;
    width: 100%;
    opacity: $navOpacity;
    position: relative;
    z-index: 1;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
    pointer-events: all;
}


.navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    .mobile-logo img{
        max-height: 50px;
    }
}

.nav-menu {
    display: flex;
    justify-content: left;
    // gap: 10px;
    position: absolute;
    z-index: 0;
}

.nav-link {
    transition: 0.4s ease;
}

.nav-link:hover {
    color: $midBlue;
    background: #009ddc;
}

.view-btn:hover {
    background: #009ddc;
    transition: 0.4s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 36px;
    height: 4px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: $dark;
    width: 100%;
    transition: 0.3s;
    z-index: 0;
    padding-left: 1rem;
    @include font-style(400);
    font-size: 1rem;
    text-transform: uppercase;

}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    top: 74px;
    left: 0;
}

.hero {
    .hero-text {
        margin-bottom: 8rem;
        padding-bottom: 2rem;
        h1 {
            @include font-style(700);
            font-size: 1.5rem;
            margin: 3.5rem 1rem;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase; 
        }
        li {
            text-align: center;
            margin-bottom: 2.25rem;
            .view-btn {
                @include font-style(400);
                text-transform: uppercase;
                padding: 10px;
                border: #ffffff solid 2px;
                font-size: 1rem;
            }
        }

    }
}

.header {
    position: relative;
}

.white-wave-container{
    height: 160px;
    width: 90%;
    position: absolute;
    bottom: 0;
}

.White-wave {
    position: absolute;
    width: 120%;
    left: -25px;
    bottom: -155px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/wave-white.png);
    background-size: 180% 90%;
}
// Media Queries

@media(min-width:420px) {
    
}

@media(min-width:670px) {
    .hero {
        .hero-text {
            h1 {
                font-size: 2rem;
                margin: 6rem 1rem 4rem 1rem;
            }
        }
    }

    .White-wave{
        width: 111%;
        left: 0;
        bottom: -130px;
        background-position: bottom left;
        background-size: 120% 60%;
    }
}

@media(min-width:850px) {
    .hamburger, #mobile-only, .mobile-logo {
        display: none;
    }

    .header-desktop {
        display: block;
        display: flex;
        justify-content: center;
        .header-left {
            display: flex;
            @include font-style(400);
            text-transform: uppercase;
            font-size: 1rem;
            li {
                padding-top: 1rem;
                a {
                    padding-right: 1.25rem;
                }
            }
        }
        img {
            max-width: 200px;
            margin: 2rem 0 .5rem 0;
        }
        .header-right {
            display: flex;
            @include font-style(400);
            text-transform: uppercase;
            font-size: 1rem;
            li {
                padding-top: 1rem;
                a {
                    padding-left: 1.25rem;
                }
            }
        }
    }

    .icon-phone-circled, .icon-mail-circled {
        margin-right: 10px;
    }

    .navigation {
        background-color: transparent;
    }

    .nav-menu {
        top: 0;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin: 0 2rem;
        background-color: transparent;
        padding: 0;
        .nav-item {
            .nav-link {
                padding: .75rem 2rem;
                text-align: center;
                background-color: $dark;
            }
        }
    }

    .nav-link {
        padding: 1rem 3rem;
        text-align: center;
        background-color: $dark;
    }

    .nav-link:hover {
        background-color: #009ddc;
    }

    .hero {
        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: 3rem;
                width: 80%;
                margin: 6rem 1rem 4rem 1rem;
            }
            .flex-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }

}

@media(min-width:1024px) {
    .hero {
        .hero-text {

            h1 {
                font-size: 3.5rem;
                width: 100%;
                margin-left: 2rem;
                margin-right: 2rem;
            }
            .flex-btn {

                gap: 20px;
            }
        }
    }
    .nav-menu {
        top: 0;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin: 0 2rem;
        background-color: transparent;
        padding: 0;
        .nav-item {
            .nav-link {
                padding: 1rem 3.5rem;
                text-align: center;
                background-color: $dark;
            }
        }
    }
    .header-desktop {
        justify-content: space-evenly;
    }

    .White-wave{
        width: 111%;
        left: 0;
        bottom: -130px;
        background-position: bottom left ;
        background-size: 102% 90%;
    }
}

@media(min-width:1251px) {
    .hero {
        .hero-text {

            h1 {
                font-size: 3rem;
                width: 100%;
                margin: 2rem 0rem 6rem 0rem;
                padding-left: 5rem;
                padding-right: 5rem;
            }
            .flex-btn {
                gap: 50px;
                .view-btn {
                    padding: .75rem 3rem;
                }
            }
        }
    }
    
    .nav-menu {
        top: 0;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin: 0 2rem;
        background-color: transparent;
        padding: 0;
        .nav-item {
            .nav-link {
                padding: 1rem 4rem;
                text-align: center;
                background-color: $dark;
            }
        }
    }
}

@media(min-width:1920px) {
    .header-desktop {
        justify-content: space-between;
        .header-left {
            margin-left: 2rem;
        }
        a {
            margin: 1rem 0 2rem 0;
        }
        .header-right {
            margin-right: 2rem;
        }
    }
    .hero {
        .hero-text {

            h1 {
                font-size: 6rem;
                width: 100%;
                margin: 2rem 0rem 6rem 0rem;
                padding-left: 5rem;
                padding-right: 5rem;
                max-width: 1500px;
            }
            .flex-btn {
                gap: 50px;
                .view-btn {
                    padding: .75rem 3rem;
                }
            }
        }
    }

    .nav-menu {
        .nav-item {
            .nav-link {
                padding: 2rem 4rem;
                text-align: center;
                background-color: $dark;
            }
        }
    }
}