@use "variables" as *;

.product-advisor {
    // width: $product-advisor-width;
    // height: $product-advisor-height;
    color: $font-white;
    // margin: $product-advisor-margin 0;
    // padding: 0rem 0 8.125rem 0;

    h2 {
        text-align: center;
        margin: 0;
    }

    p {
        text-align: center;
    }

    .product-wave {
        position: relative;
        height: 10.5rem;
        top: 0;
        left: -10%;
        width: 155%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: auto;
        }
    }

    .products-container {
        background-color: $product-advisor-background-color;
        padding: 0rem 0 8.125rem 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dropdowns {
            width: calc(100% - #{$product-advisor-margin * 2}); 
            margin-top: 20px; 
            margin-bottom: 20px; 
        }

            label {
                display: block;
                margin-bottom: 1.625rem;
                text-align: left;
                color: $font-white; 
            }

            select {
                width: 100%;
                height: 5.375rem;
                background-color: $dropdown-background-color;
                color: $dropdown-text-color;
                margin-bottom: 3.0625rem;
        }

        button#find-product-btn {
            width: $product-advisor-element-width;
            height: 86px;
            margin-top: 20px;
            color: $font-background-white;
            background-color: $background-light-blue;
        }
    }
}