.spec-and-install {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.spec,
.install {
    text-align: center;
}

.spec {
    order: 1;
}

.spec {
    background-color: #154a66;
}

.spec h2, .install h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.spec h2 {
    color: #ffffff;
    margin: 5rem 25% 2rem 25%;
}

.install h2 {
    color: #504F4F;
    padding: 0 10vw;
    margin: 8rem 10% 0 10%;
}

.spec button,
.install button {
    background-color: transparent;
    margin: 0 0 1.25rem 0;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
      }

      .spec button {
        margin: 1rem auto 7rem auto;
      }

      .install button {
        margin: 1rem auto 8rem auto;
      }


// .spec button {
//     color: white;
//     border: 2px solid white;
// }

// .install button {
//     color: rgb(0, 0, 0);
//     border: 2px solid rgb(0, 0, 0);
// }

.install {
    text-align: center;
    position: relative;
    background-image: url('../images/map.jpg');
    background-size: stretch;
    width: 100%;
    height: 100%;
}

@media (min-width: 53.125em) {
    .spec-and-install {
      flex-direction: row;
    }

  
    .spec {
      width: 50%;
      padding: 20px;
      margin-bottom: 0;
      height: 34.375rem;
    }
  
    .install {
    width: 50%;
    // height: 300px; 
    margin-left: auto; 
    order: 1;
    background-size: cover;
    background-position: center center;
    height: inherit; 
    }

    .spec h2, .install h2 {
        font-size: 2rem;
    }

    .spec h2 {
        margin: 8rem 25% 0 25%;
    }

    .spec button,
    .install button {
        background-color: #009DDC;
}
}

@media (min-width: 78.1875em) {

    .spec {
    padding: 5rem 0;
    }

    .spec h2, .install h2 {
        font-size: 2.5rem;
    }

    .spec h2 {
        margin: 4rem 20% 0 20%
    }

    .install {
        display:  flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .install h2 {
        padding: 0 5vw;
        margin: 9rem 29% 0 0%
    }

    .spec button, .install button {
        padding: 1rem 1.5rem;
    }

    .spec button {
        margin: 1rem auto 7rem auto;
      }

      .install button {
        margin: 5rem 3rem 0rem 15rem;
      }
}