$font-family-header: 'Roboto Condensed', sans-serif; 
$font-body: 'Roboto', sans-serif;
$background-light-blue: #429bd6;
$font-background-white: #ffffff;
$font-black: #000000;
$font-white: #ffffff;

// product-advisor variables
// $product-advisor-width: 750px;
// $product-advisor-height: 1460px;
$product-advisor-background-color: #244a64;
$product-advisor-margin: 20px;
$dropdown-background-color: #bbbbbb;
$dropdown-text-color: #646464;
$product-advisor-text-height: 22px;
$product-advisor-element-width: calc(100% - #{$product-advisor-margin * 2}); 

// media variables
$border-color: #154a66 ;
$border-size: 1.875rem;
$media-background-color: #429bd6;
$media-green: #367d22;

// sign-up variables
$sign-up-margin: 20px 0;
$sign-up-bg-color: #bedcef;
$email-input-width: 67.5%;
$submit-button-width: 25%;
$max-submit-width: 46.875rem;
$sign-up-button-color: #5182a3;
$sign-up-button-text-color: white;
$sign-up-button-height: 66px;
$sign-up-button-margin: 16px;

