@use 'variables' as *;
@use 'mixins' as *;
@use 'product-advisor' as *;

.sign-up {
    @include flexbox-create(flex, column, center, center);
    width: 100%;
    background-color: $sign-up-bg-color;
    // margin:  0 $sign-up-margin;
    // padding-left: 20px;
      h2 {
        font-size: 32px;
      }


      p {
        font-size: 1.25rem;
        color: $font-white;
      }

    .form-section {
        width: 100%;
        padding-bottom: 3.25rem;
        max-width: 100%;
        // margin-left:$product-advisor-margin;
    }
  
    form {
        @include flexbox-create(flex, row, center, center);
        // width: calc(100% - #{$product-advisor-margin * 2});
    }
  
      input[type="email"] {
        width: $email-input-width;
        height: $sign-up-button-height;
        padding: 0.5rem 5rem 0.5rem 0.5rem;
        margin-right: $sign-up-button-margin;
        background-color: white;
        border: none;
        box-sizing: border-box;
      }
  
      button[type="submit"] {
        width: $submit-button-width;
        max-width: $max-submit-width;
        height: $sign-up-button-height;
        margin-top: $sign-up-button-margin;
        background-color: $sign-up-button-color;
        color: $sign-up-button-text-color;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
    }
  