@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;


.spec-and-install {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.spec,
.install {
    text-align: center;
}

.spec {
    order: 1;
    background-color: $darkBlue;
}

.spec h2, .install h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.75rem;
    margin: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.spec h2 {
    color: #ffffff;
    margin: 5rem 20% 2rem 20%;
}

.install h2 {
    color: $gray-mid;
    padding: 0 10vw;
    margin: 8rem 10% 0 10%;
}

.spec button,
.install button {
    background-color: transparent;
    margin: 0 0 1.25rem 0;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
      }

      .spec button {
        border: 1px solid $white;
        margin: 1rem auto 7rem auto;
      }

      .install button {
        border: 1px solid $gray-dark;
        color: $gray-dark;
        margin: 0.25rem auto 8rem auto;
      }


.install {
    text-align: center;
    position: relative;
    background-image: url('../images/map.jpg');
    background-size: stretch;
    width: 100%;
    height: 100%;
}


.light-blue-wave{
    position: relative;
    
}

.wave-image-container{
    position: absolute;
    height: 160px;
    width: 90%;
    bottom: 0;
}

.wave-image{
    position: absolute;
    width: 120%;
    left: -25px;
    bottom: -20px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/wave-blue-light.png);
    background-size: 180% 90%;
}

@media (min-width:  41.875em) {
    .wave-image{
        width: 111%;
        left: 0;
        bottom: 0;
        background-position: bottom left ;
        background-size: 110% 70%;
    }
}

@media (min-width: 53.125em) {
    .spec-and-install {
      flex-direction: row;
    //   height: 26.875rem;
    }

  
    .spec {
      width: 50%;
    //   padding: 20px;
      margin-bottom: 0;
      height: 26.875rem;
      height: inherit; 
    }
  
    .install {
    width: 50%;
    // height: 300px; 
    margin-left: auto; 
    order: 1;
    background-size: cover;
    background-position: center center;
    height: inherit; 
    }

    .spec h2, .install h2 {
        font-size: 2.5rem;
    }

    .spec h2 {
        margin: 8rem 25% 0 25%;
    }

    .spec button,
    .install button {
        background-color: $midBlue;
        color: #fff;
        border: none;
        padding: 1rem 1rem;
}
}

@media (min-width: 78.1875em) {
    .spec-and-install {
    // height: 34.375rem;
    }

    .spec {
        padding: 0;
    }

    .spec h2, .install h2 {
        font-size: 3rem;
    }

    .spec h2 {
        margin: 12rem 25% 0 25%
    }

    .install h2 {
        margin: 10rem 25% 0 0%;
    }

    .spec button, .install button {
        padding: 1rem 1.5rem;
    }

    .spec button {
        margin: 4rem auto 7rem auto;
      }

      .install button {
        margin: 2rem 3rem 0;
      }
}