@use 'variables' as *;
@use 'mixins' as *;

/* For mobile devices */
.spec-and-install {
    display: flex;
    flex-direction: column;
}

.spec,
.install {
    text-align: center;
}

.spec {
    order: 1;
}

.spec {
    background-color: #154a66;
}

.spec h2, .install h2 {
    margin: 3rem;
}

.spec h2 {
    font-size: 2rem;
    color: #ffffff;
}

.install h2 {
    font-size: 2rem;
    color: #000;
}

.spec button,
.install button {
    font-size: 1rem;
    background: transparent;
    margin-top: 1rem;
}

.spec button {
    color: white;
    border: 2px solid white;
}

.install button {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.install {
    text-align: center;
    position: relative;
    background-image: url('../images/map.jpg');
    background-size: stretch;
    width: 100%;
    height: 100%;
}

/* For tablets and larger screens */
@media (min-width: 53.125em) {
    .spec-and-install {
      flex-direction: row;
    }

  
    .spec {
      width: 50%;
      padding: 20px;
      margin-bottom: 0;
    }
  
    .install {
    width: 50%;
    height: 300px; 
    margin-left: auto; 
    order: 1;
    background-size: cover;
    background-position: center center;
    height: inherit; 
    }

    .spec button,
    .install button {
        background-color: #429bd6;
        border: none;
        color: #fff;
  }
}